@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
body {
    background-color: blanchedalmond;
    color: green;
    font-size: 30px;
    font-family: 'Sevillana', cursive;
}

.aa{

    background-color: blueviolet;
    width: 400px;
    height: 500px;
    margin: 100px 50px;
    font-size: 15px;
}

.aaa{

    background-color: saddlebrown;
    width: 400px;
    height: 500px;
    font-size: 15px;
}

.left {
    height: 450px;
    width: 200px;
    background-color: black;
    float: left;
}

.right {
    height: 500px;
    width: 150px;
    background-color: rgb(207, 158, 22);
    float: right;
    
}

.float {
    height: 100px ;
    background-color: yellow;
}

.float-1 {
    height: 100px ;
    background-color: rgb(23, 145, 118);
    clear: both;
}